{{ ansible_managed | comment }}

[Unit]
Description=Prometheus nginx Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
ExecStart={{ nginx_exporter_install_dir }}/nginx-prometheus-exporter \
          -nginx.scrape-uri {{ nginx_exporter_scrape_uri }} \
          -web.listen-address {{ nginx_exporter_listen_address }}
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=nginx-exporter
RestartSec=1
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
